@media (max-width: 1050px) {
  .hig-class {
    flex-direction: column;
    width: 80%;
    margin: auto;
    /* transition: 0.3s ease-in; */
  }

  .nav-bar {
    height: 23rem;
    transition: all 1s ease-out;
    width: 100%;
  }
  .h-nav {
    height: 3rem;
  }
  .v-class {
    opacity: 0;
  }
  .closeBtn {
    /* display: block; */
    opacity: 100;
  }
  .menu {
    display: block;
  }

  nav ul .des-a {
    border: none;
  }

  nav ul .des-a a {
    color: #fff;
  }
  .about:hover,
  nav ul .des-a:hover {
    background-color: none;
    transition: none;
  }
  .detail {
    height: 6rem;
  }
  h1 {
    font-size: 1.5rem;
    line-height: 3rem;
    letter-spacing: 0.3rem;
  }

  .motion {
    font-size: 2.3rem;
  }
  .about {
    font-size: 1.5rem;
    height: 4rem;
    width: 9rem;
  }
  .social-handle .fab {
    font-size: 2rem;
    color: #2bb9f1;
    padding: 3px;
  }
  .social-handle ul::before {
    /* display: none; */
    background: white;
    right: 16rem;
  }
  nav ul li a {
    font-size: 2rem;
  }
  .bld {
    padding: 0;
  }
  h2 {
    font-size: 2.3rem;
  }
  .bld {
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 2rem;
  }
}
