@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Open+Sans:ital,wght@0,300;0,400;1,700&family=Roboto+Serif:ital,wght@0,100;1,100;1,300;1,500&family=Roboto:wght@100;300;500;700&family=Source+Code+Pro&family=Ubuntu:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
:root {
  --navBg: black;
  --textColor: rgb(201, 187, 187);
  --bgcolor: rgb(24, 22, 22);
  --maincolor: #2bb9f1;
  --hoverColor: #554b4b59;
  --hoverSumbit: #1993c4;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bgcolor);
}
.intro {
  height: 100vh;
}
.blue {
  border: 1px solid var(--maincolor);
  /* margin-top: 0.3rem; */
  opacity: 0.3;
}
.nav-bar {
  background-color: var(--navBg);
  top: 0;
  position: sticky;
  /* background-color: black; */
  /* background-size: cover; */
}
/* .background {
  background: rgba(202, 68, 202, 0) url('../images/background.jpg');
  background-size: cover;
  background-blend-mode: lighten;
} */

.menu {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
}
.close {
  opacity: 0;
  font-size: 2.5rem;
  color: var(--textColor);
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
}
.line {
  width: 2.5rem;
  background-color: var(--textColor);
  height: 0.4rem;
  margin: 0.3rem;
  border-radius: 5px;
}
.hig-class {
  margin-right: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.6s ease;
}

.nav-bar ul li {
  margin: 0.5rem;
  list-style: none;
  padding: 0.4rem;
  cursor: pointer;
}
nav ul li a {
  text-decoration: none;
  color: var(--textColor);
  font-size: 1rem;
  letter-spacing: 0.11rem;
  padding: 1rem 1rem;
  /* transition: all 0.6s ease; */
}
nav ul li a:hover {
  color: var(--maincolor);
  transition: all 0.6s ease;
}
nav ul .des-a {
  border-radius: 0.9rem;
  border: 0.1rem solid var(--maincolor);
  transition: all 0.3s ease;
  /* color: var(--maincolor); */
}
nav ul .des-a a {
  color: var(--maincolor);
  font-family: 'Ubuntu', sans-serif;
}
/* .dayNightCen {
  margin-bottom: 1rem;
} */
ul .fa {
  position: absolute;
  bottom: 1rem;
  /* margin: auto; */
}
.dayNightCen .fa {
  position: absolute;
  top: 0.6rem;
  left: 1rem;
  cursor: pointer;
  /* right: 1rem; */
}
.fa-moon-o,
.fa-sun-o {
  color: var(--textColor);
  font-size: 2rem;
  transition: 0.5s ease;
}
/* .fa-sun-o {
  transition: 0.5s ease;
  font-size: 2rem;
  color: var(--textColor);
} */
.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* margin: auto 0; */
}
.detail {
  align-items: center;

  flex-direction: column;
  display: flex;

  color: var(--textColor);
  height: 100px;
  /* position: absolute; */
  /* top: 40%;
  left: 5%;
  right: 5%; */
  /* text-align: center; */
}
h1 {
  font-size: 1.3rem;
  line-height: 2.5rem;
  font-weight: 1;
  letter-spacing: 0.11rem;
}
.motion {
  color: var(--maincolor);
  display: inline;
  /* position: relative; */
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;

  /* background-color: var(--textColor); */
}
.dis--hidden {
  display: none;
}
/* .dis--show {
  display: block;
} */
.dis--opaN {
  /* transition: 1s; */
  opacity: 0;
}
.dis--opa {
  opacity: 100;
}

/* this i has done for the animation */
/* .motion::after {
  content: ' ';
  position: absolute;

  left: 0;
  height: 100%;
  width: 100%;
  /* font-weight: 2rem; */
/* border-left: 1rem solid var(--textColor);
  animation: typing 7s steps(18) 0.5;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
} */

.about {
  margin-top: 3rem;
  background: none;
  color: var(--maincolor);
  height: 2.9rem;
  width: 8rem;
  border-radius: 0.9rem;

  border: 0.1rem var(--maincolor) solid;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
.about p {
  font-family: 'Ubuntu', sans-serif;
}
.about:hover,
nav ul .des-a:hover {
  background-color: var(--hoverColor);
  transition: 1s;
}
.social-handle {
  position: fixed;
  right: 3rem;
  bottom: 2rem;
  z-index: 10;
}
.social-handle ul {
  display: flex;
  flex-direction: row;
}
.social-handle ul::before {
  content: '';
  display: block;
  position: absolute;
  height: 3px;
  width: 200rem;
  background: var(--maincolor);
  opacity: 0.11;
  right: 14rem;
  top: 50%;
}

.social-handle li {
  list-style: none;
}
.social-handle a {
  margin: 0.8rem;
  font-size: 1rem;
  display: inline-block;
  color: var(--textColor);
  text-align: right;
  text-decoration: none;
}
.social-handle .fab {
  font-size: 2rem;
}
.social-handle .fab:hover {
  color: var(--maincolor);
  transition: 1s;
}

.about--me {
  text-align: center;
  height: 40rem;
}
h2 {
  color: var(--maincolor);
  letter-spacing: 0.3rem;
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
}

.about--me h2 {
  /* margin-top: 10rem; */
}

/* .abt--sk {
  display: flex;
  justify-content: space-between;
  color: var(--textColor);
  margin: 1rem;
}
.abt--sk h3 {
  color: var(--maincolor);
}
.abt--sk .who--am,
.abt--sk .ski {
  width: 49%;
  text-align: center;
} */
/* .abt--sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
p {
  color: var(--textColor);
}
.abt--sec a {
  text-decoration: none;
}
.abt--sk {
  margin-top: 2rem;
}
.bld {
  text-align: left;
  margin: 1rem;
  line-height: 1.8rem;
  letter-spacing: 0.12rem;
  font-size: 1rem;
  padding: 0rem 7rem;
  font-weight: 400;
}
.nbld {
  text-align: left;

  margin: 1rem;
  line-height: 1.8rem;
  letter-spacing: 0.12rem;
  font-size: 1rem;
  padding: 0rem 7rem;
  font-weight: 300;
}
.res--bld {
  text-decoration: none;
  color: var(--maincolor);
  font-size: 1rem;

  letter-spacing: 0.12rem;
  font-family: 'Ubuntu', sans-serif;
  transition: 1s;
  font-weight: bold;
  cursor: pointer;
}
/* .res--bld:hover {
  font-style: italic;
  transition: 9s ease-in;
} */
.rig--bld {
  text-align: left;
  padding: 0rem 7rem;
  margin: -0.5rem 1rem;
}
.projects {
  margin-top: 3rem;
  height: 50rem;
}
.proj--works {
  text-align: center;
}

.proj--works h2 {
  margin: 1rem;
}
.all--proj {
  /* display: flex;
  margin: 1.5rem;
  flex-basis: 33%;
  justify-content: center; */
  overflow-x: scroll;
  /* flex-wrap: wrap; */
  grid-template-rows: repeat(2, 19rem);
  display: grid;
  grid-template-columns: repeat(5, 17rem);
  grid-template-rows: 19rem 19rem;
  margin: 0 auto;
  grid-row-gap: 25px;
  grid-column-gap: 0px;
  align-items: center;
}
.all--proj::-webkit-scrollbar {
  width: 0;
  /* height: 0.2rem;
  opacity: 24; */

  /* color: red;
  */
  /* background-color: var(--maincolor); */
}
*/ .webOne {
  height: 19rem;
  width: 17rem;
  border: 2px solid var(--maincolor);
  border-radius: 15px;
  margin: 1rem;
}

.all--proj a {
  text-decoration: none;
  cursor: pointer;
}
.boxInBox {
  margin-bottom: 1rem;
  cursor: pointer;
}
.boxInBox img {
  border-radius: 15px;
  height: 11rem;
  width: 12rem;
  margin: 0.2rem;
  /* margin-bottom: 0.5rem; */
}
.all--proj {
  margin: 0 2rem;
}
.webOne {
  border: 2px solid var(--maincolor);
  border-radius: 15px;
  width: 13rem;
}
.opaHr {
  /* background-color: var(--maincolor); */
  opacity: 0.1;
}
.webOne i {
  color: var(--maincolor);
  font-size: 1.5rem;
  margin: 0.4rem 0;
}
.form {
  text-align: center;
  margin: 1rem auto;
  height: 33rem;
}
.contact--me {
  max-width: 35rem;
  margin: auto;
}
.form-input {
  width: 100%;
  padding: 0.7rem;
  border: 0.1rem solid var(--maincolor) 72;
  border-radius: 0.4rem;
  margin: 0.7rem auto;
  font-size: 1rem;
  border: 2px solid var(--textColor);
  /* background: rgb(175, 178, 181); */
}
.opc {
  opacity: 0.5;
}
.form button {
  background-color: var(--bgcolor);
  padding: 0.6rem 6rem;
  color: var(--textColor);
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  border: 2px solid var(--textColor);
  border-radius: 15px;
  transition: 0.11s;
  cursor: pointer;
}
.form button:hover {
  background-color: var(--hoverColor);
  transition: 1s;
}
/* #status {
  color: var(--textColor);
  padding: 0.7rem 5rem;


  max-width: 300px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 10px;


}
.success {
  background-color: rgb(152, 223, 45);
  animation: status 4s ease forwards;
}
.error {
  background-color: orangered;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
} */
.text-footer {
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem;
  font-family: 'Ubuntu', sans-serif;
  color: var(--textColor);
}
footer {
  height: 3rem;
  background-color: var(--navBg);
}
/* .active {
  color: var(--maincolor);
} */
/* .darkBtn {
  width: 3rem;
  height: 1.5rem;
  border: 2px solid var(--textColor);
  background-color: rgb(117, 169, 247);
  position: fixed;
  right: 1.5rem;
  top: 4rem;
  border-radius: 15px;
  cursor: pointer;
}
.darkBtn::before {
  position: absolute;
  content: '';
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: #181616;
  left: 1px;
}
.darkBtn.active::before {
  left: 27px;
  background: var(--textColor);
} */
.whiteMode {
  --navBg: rgb(209, 229, 238);
  --textColor: black;
  --bgcolor: white;
  --maincolor: #2bb9f1;
  --hoverColor: rgba(228, 206, 206, 0.605);
  --hoverSumbit: #b8d5df;
}

/* .pvar(--textColor) {
  color: black;
} */

/* .darkBtn::after {
  position: absolute;
  content: '';
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: #f0e8e8;
} */
